.grid-container {
    display: grid;
    grid-template-areas:
      'main main main main'
      'main main main main'
      'main main main main'
      'main main main main';
    width: 100px;
}

.grid-container > div > button {
    height: 50px;
    width: 50px;
    margin: 10px;
}